apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "auth_token": "dDBwczNjcjN0MTEuLi4uLi4uLi4uLi4K",
      "max_retries": "10",
      "max_retry_wait_seconds": "30"
    }
